.test ul{
    list-style: none;
    /* 去掉点 */
}

.test ul li a{
    /* 字体颜色大小 */
    display: block;
    width: 120px;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
    background-color: black;
    color: white;
    text-decoration: none;
}

.test ul li{
    /* 左浮动 使其横向布局 */
    float: left;
}

.test{
    /* 居中 */
    margin: 0 auto;
}

.test ul li a:hover{
    /* 动态效果 */
    color: black;
    background-color: white;
}

.test ul li ul li {
    /* 清除子菜单浮动 */
    clear: both;
}

.test ul li ul li a{
    /* 字体大小 */
    font-size: 13px;
}

.test ul li ul{
    /* 向左位移 */
    margin-left: -40px;
    display: none;
}

.test ul li:hover ul{
    /* 动态效果 */
    display: block;
}

.test ul li ul li a{
    /* 字体背景颜色 */
    background-color: white ;
    color: black ;
}

.test ul li ul li a:hover{
    /* 动态 */
    color: white ;
    background-color: black ;
}

.test > ul{
    position: absolute;
    z-index: 1;
}

.test1{
    height: 85px;
    width: 100%;
    background-color: black;
}

.home{
    /* 背景颜色 */
    background-color: black;
    height: 40px;
}

.home ul{
    /* 向右 */
    list-style: none;
    float: right;
}

.home li{
    float: left;
}

.button5{
    /* 按钮 */
    display: block;
    line-height: 40px;
    color: white;
    padding: 0 20px;
    text-decoration: none;
    transition: .2s;
}

.button5:hover{
    /* 按钮动效效果 */
    background-color: white;
    color: black;
    text-decoration: none;
}

.test2{
    width: 210px;
    height: 30px;
    margin-left: 1110px;
    margin-top: -20px;
    border: 1px solid white ;
}

.box1{
    /* 第一个盒子颜色宽度 */
    height: 60px;
    background-color:white ;
}
.box2{
    /* 第二个盒子颜色 */
    background-color:rgb(223, 221, 221)  ;
    padding: 40px;
}
.box3 img{
    /* 设置图片大小 */
    width: 100%;
    height: 160px;
}
.box4{
    /* 居中且放大 */
    overflow: hidden;
    margin:  0 auto;
}
.box4 h2{
    /* 设置图片中的文字 */
    color: white;
    margin: 0%;
    position: absolute;
    left: 25%;
    top: 40%;
    z-index: 1;
    width: 270px;
    text-align: center;
}
img{
    /* 过渡 */
    transition: 1s;
}
.box4:hover img{
    /* 设置图片动态效果 */
    transform:scale(1.2);
}
.box5{
    /* 图片上下间距 */
    margin-top: 10px;
    margin-bottom: 10px;
}

.box6{
    /* 文字上下间距 */
    margin-top: 5px;
    margin-bottom: 10px;
}
a:hover{
    /* 超链接触碰变色；去除下划线 */
    color: rgb(151, 148, 148);
    text-decoration: none;
}
.box7 a{
    color: black;
    text-decoration: none;
}
.footer{
    height: 260px;
    background-color: black;
}

.footer a:hover{
    transition: .2s;
    color: #c7c8ca;
    text-decoration: none;
}

.about{
    padding: 30px 0 25px;
    margin-bottom: 60px;
    border-bottom: 2px solid #636466;
}

.about ul{
    list-style: none;
    padding: 0;
}

.about li{
    float: left;
    font-size: 18px;
    font-weight: normal;
    padding-right: 50px;
}

.about a{
    color: white;
}

.sns a{
    margin: 0 10px;
    color: white;
}

.wechat{
    vertical-align: sub;
}

.youku{
    vertical-align: super;
}

.linkedin{
    font-size: 30px;
    font-weight: bold;
}

.menu{
    font-size: 13px;
    padding-top: 10px;
    border-top: 2px solid #636466;
}

.menu ul{
    list-style: none;
    padding: 0;
}

.menu li{
    float: left;
    padding-right: 15px;
}

.menu a, .menu li{
    color: white;
}